<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quản Lý L3H</title>
  <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid ">

    <div class="row">
      <!-- menu -->
      <div class="col-md-2 p-0 bg-primary collapse collapse-horizontal show" style="min-height: 100vh;" id="openMenu">
        <strong class="text-center d-block p-3 text-white">ADMIN EDIT</strong>
        <div class="list-group list-group-item-primary m-3">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Tổng Quan
          </a>
          <a href="#" class="list-group-item list-group-item-action">Tài Khoản</a>
          <a href="#" class="list-group-item list-group-item-action">Loại xe</a>
          <a href="#" class="list-group-item list-group-item-action">Xe đạp</a>
          <a href="#" class="list-group-item list-group-item-action">Đơn hàng</a>
        </div>
      </div>

      <!-- content -->
      <div class="col-md p-0">
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark" ;>
          <div class="container-fluid">
            
            <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="collapse"
              data-bs-target="#openMenu" aria-expanded="false" aria-controls="openMenu">
              =
            </button>

            <a class="navbar-brand" href="#">L3H</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Xin chào, Hưng
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Xem trang chủ</a></li>
                    <li><a class="dropdown-item" href="#">Đăng xuất</a></li>

                  </ul>
                </li>
              </ul>
            </div>
            
          </div>

        </nav>
      </div>
    </div>

  </div>
  <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>